{% extends 'baseapplifraisgsb.html.twig' %}

{% block main %}
<div class="title_header">
  <h1>AppliFraisGSB</h1>
</div>
<div class="introduction">
  <div class="column">
    <div class="title">
      <h2>Contexte :</h2>
    </div>
    <div class="explication">
      <p>Le Laboratoire pharmaceutique GSB (Galaxie Swiss Bourdin) souhaite uniformiser la gestion des frais de ses visiteurs 
      (les visiteurs médicaux démarchent les médecins, pharmaciens, infirmières et autres métiers de santé susceptibles de prescrire aux 
      patients les produits du laboratoire). Le laboratoire envisage donc pour ce fait de mettre en place une application web. L’application devra permettre de présenter un suivi daté des opérations menées par le service 
      comptable (réception des pièces, validation de la demande de remboursement, mise en paiement, remboursement effectué).
      </p>
    </div>
  </div>
  <div class="column">
    <div class="title">
      <h2>Besoins :</h2>
    </div>
    <div class="explication">
      <p>L’application doit permettre d’authentifier deux types d’utilisateurs (visiteurs/comptable), d’ajouter et d’enregistrer tout frais engagé, 
      aussi bien pour l’activité directe (déplacement, restauration et hébergement) que pour les activités annexes (événementiel, conférences, autres)
      , et de présenter un suivi daté des opérations menées par le service comptable (réception des pièces, validation de la demande de remboursement,
       mise en paiement, remboursement effectué).
     </p>
    </div>
  </div>
    <div class="column">
      <div class="title">
        <h2>Environnement Technologique :</h2>
      </div>
      <div class="explication">
        <p>
        - Environnements : Serveur Uwamp/Laragon <br> <br>
        - Logiciel de Codage : Visual Studio Code <br> <br>
        - Langages utilisés : PHP, MySQL, PostgreSQL <br> <br>
        - Gestion des modifications : Github
        </p>
      </div>
    </div>
    <div class="column">
      <div class="title">
        <h2>Contraintes :</h2>
      </div>
      <div class="explication">
        <p>
        - Utilisation du modèle MVC <br> <br>
        - Respect de l’architecture de l’application existante <br> <br>
        - Hachage des mots de passe avec MD5
        </p>
      </div>
    </div>
</div>
    <div class="inline">
      <div class="cahier_charge">
        <h2>Cahier des charges :</h2>
        <embed src="/assets-perso/GSB-AppliFrais-Cahier-des-charges.pdf" allowfullscreen webkitallowfullscreen width=700 height=600 type='application/pdf'/>
      </div>
      <div class="cahier_charge">
        <h2>Cas d'utilisation comptable :</h2>
        <embed src="/assets-perso/EcransComptables.pdf" allowfullscreen webkitallowfullscreen width=700 height=600 type='application/pdf'/>
      </div>
    </div>
<script>

</script>
{% endblock %}
