{% extends 'baseportfolio.html.twig' %}

{% block main %}
    <div id='stars'></div>
    <div id='stars2'></div>
    <div id='stars3'></div>

    <div class="all">
        <div class="header">
            <ul>
                <li>Accueil</li>
                <li>A propos</li>
                <li>Projets</li>

            </ul>
        </div>
    </div>
    
{% endblock %}