{% extends 'baseresto.html.twig' %}

{% block main %}
<div class="title_header">
  <h1>Appli R3sto.fr</h1>
</div>
<div class="introduction">
  <div class="column">
    <div class="title">
      <h2>Contexte :</h2>
    </div>
    <div class="explication">
      <p>Le site r3st0.fr est construit à l’image des nombreux sites de critique existant sur le marché :
lafourchette, tripadvisor, etc.<br>
Deux types d'utilisateurs ont accès au site : les visiteurs, et les utilisateurs authentifiés.
En tant que visiteur non authentifié, l’utilisateur a accès à : <br>
• un module de recherche lui permettant de trouver des restaurants par nom, adresse, type de
cuisine, et multi-critères. <br>
• un module d'inscription <br> <br>
Un utilisateur authentifié a accès à plus de fonctionnalités, il peut ainsi personnaliser son profil : <br>
• choisir ses types de cuisine préférés, <br>
• aimer des restaurants, <br>
• noter des restaurants, <br>
• critiquer des restaurants.
      </p>
    </div>
  </div>
  <div class="column">
    <div class="title">
      <h2>Besoins :</h2>
    </div>
    <div class="explication">
      <p>L'objectif de ce site est de construire une base d'un grand nombre de restaurants, de stocker leurs
caractéristiques, de recueillir les avis des consommateurs, et de diffuser ces informations aux visiteurs
pour leur permettre de mieux choisir où manger.
     </p>
    </div>
  </div>
    <div class="column">
      <div class="title">
        <h2>Environnement Technologique :</h2>
      </div>
      <div class="explication">
        <p>
        - Environnement : Serveur Uwamp <br> <br>
        - Logiciel de Codage : Visual Studio Code <br> <br>
        - Langages utilisés : PHP, MySQL, PostgreSQL <br> <br>
        - Gestion des modifications : Github
        </p>
      </div>
    </div>
    <div class="column">
      <div class="title">
        <h2>Contraintes :</h2>
      </div>
      <div class="explication">
        <p>
        - Utilisation du modèle MVC <br> <br>
        - Respect de l’architecture de l’application existante <br> <br>
        </p>
      </div>
    </div>
</div>
    <div class="inline">
      <div class="cahier_charge">
        <h2>Cahier des charges :</h2>
        <embed src="/assets-perso/resto_cahier_des_charges.pdf" allowfullscreen webkitallowfullscreen width=800 height=800 type='application/pdf'/>
      </div>
    </div>
<script>

</script>
{% endblock %}
