{% extends 'baseresto.html.twig' %}

{% block main %}
<div class="title_header">
  <h1>Appli R3sto.fr</h1>
</div>
<div class="introduction">
  <div class="column">
    <div class="title">
      <h2>Contexte :</h2>
    </div>
    <div class="explication">
      <p>Lorem ipsum dolor sit amet. Non placeat veniam ad illo ducimus qui dolores temporibus. Sed numquam dolores sit explicabo repellat ut rerum 
      dolorem eos dignissimos molestiae et possimus sequi. Non aliquid deserunt cum iure obcaecati nam ipsum cumque et quisquam dolores.
      </p>
    </div>
  </div>
  <div class="column">
    <div class="title">
      <h2>Besoins :</h2>
    </div>
    <div class="explication">
      <p>Lorem ipsum dolor sit amet. Non placeat veniam ad illo ducimus qui dolores temporibus. Sed numquam dolores sit explicabo repellat ut rerum 
      dolorem eos dignissimos molestiae et possimus sequi. Non aliquid deserunt cum iure obcaecati nam ipsum cumque et quisquam dolores.
     </p>
    </div>
  </div>
    <div class="column">
      <div class="title">
        <h2>Environnement Technologique :</h2>
      </div>
      <div class="explication">
        <p>
        - Environnement : Serveur Uwamp <br> <br>
        - Logiciel de Codage : Visual Studio Code <br> <br>
        - Langages utilisé : PHP, MySQL, PostgreSQL <br> <br>
        - Gestion des modifications : Github
        </p>
      </div>
    </div>
    <div class="column">
      <div class="title">
        <h2>Contraintes :</h2>
      </div>
      <div class="explication">
        <p>
        - Utilisation du modèle MVC <br> <br>
        - Respect de l’architecture de l’application existante <br> <br>
        </p>
      </div>
    </div>
</div>
    <div class="inline">
      <div class="cahier_charge">
        <h2>Cahier des charges :</h2>
        <embed src="/assets-perso/GSB-AppliFrais-Cahier-des-charges.pdf" allowfullscreen webkitallowfullscreen width=700 height=600 type='application/pdf'/>
      </div>
      <div class="cahier_charge">
        <h2>Cas d'utilisation comptable :</h2>
        <embed src="/assets-perso/EcransComptables.pdf" allowfullscreen webkitallowfullscreen width=700 height=600 type='application/pdf'/>
      </div>
    </div>
<script>

</script>
{% endblock %}
