html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  font-family: Verdana, Geneva, sans-serif;
}



.area{
  background-color: rgb(46 70 123);
  width: 100%;
  height:100vh;
  z-index: -1;
  position: absolute;
}
.circles{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.circles li{
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  //background: rgba(255, 255, 255, 0.2);
  background-color: #FF4C60;
  animation: animate 15s linear infinite;
  bottom: -150px;
}
.circles li:nth-child(1){
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}
.circles li:nth-child(2){
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}
.circles li:nth-child(3){
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}
.circles li:nth-child(4){
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}
.circles li:nth-child(5){
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}
.circles li:nth-child(6){
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}
.circles li:nth-child(7){
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}
.circles li:nth-child(8){
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}
.circles li:nth-child(9){
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}
.circles li:nth-child(10){
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 10s;
}
@keyframes animate {
  0%{
      transform: translateY(0) rotate(0deg);
      opacity: 1;
      border-radius: 0;
  }
  100%{
      transform: translateY(-1000px) rotate(720deg);
      opacity: 0;
      border-radius: 50%;
  }
}

.all {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}



.header {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  border-right: solid 1px rgba(255, 255, 255, 0.1);
  width: 10%;
  position: fixed;
  line-height: 5rem;
  background-color: rgb(46 70 123);
}

ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem;
}

.header ul li {
  color: white;
  list-style: none;
  margin: 0 0 0 0;
  padding: 0;
  width: 2rem;
  transition: color .3s ease-in-out, box-shadow .4s ease-in-out;
}

ul li a {
  color: white;
}

ul li a:hover {
  color: #FF4C60;
}


#home {
  margin: 0;
  padding: 0 0 0 10%;
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.elements {
  margin: 0 auto;
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  top: 30%;
}


h1 {
  font-size: 3.5rem;
  color: snow;
}




h1 #name {
  margin: 0;
  color: #FF4C60;
}

#more {
  margin: 0 auto;
  padding: 1rem;
  border: solid;
  border-radius: 20px;
  font-size: 1.5rem;
  color: #FF4C60;
  width: 20%;
  position: relative;
  text-align: center;
  box-shadow: inset 0 0 0 0 #FF4C60;
  transition: color .4s ease-in-out, box-shadow .5s ease-out;
  text-decoration: none;
}


#more:hover {
  color: #fff;
  box-shadow: inset 290px 0 0 0 #FF4C60;;
}




#aboutme {
  margin: 0;
  padding: 0 0 0 10%;
  background-color: rgb(46 70 123);
  width: 90%;
  height: 100%;
}

#aboutme_title {
  margin: 0 auto;
  padding: 0;
  position: relative;
  display: flex;
  top: 5%;
  color: #FF4C60;
  justify-content: center;
  font-size: 2.5rem;
  text-decoration: underline;
}


.my_infos {
  margin: 0 auto;
  padding: 3.5rem;
  width: 60%;
  position: relative;
  top: 15%;
  border: solid 1px #242e5f;
  border-radius: 1rem;
  color: white;
  background: #242e5f;
}




.my_infos p {
  margin: 0 0 2rem 0;
  padding: 0;
  font-size: 1.25rem;
  border-right: solid;
}


.my_infos #cv {
  margin: 0 2rem;
  padding: 1rem;
  border: solid 1px #FF4C60;
  border-radius: 1rem 0 1rem 0;
  background-color: #FF4C60;
  text-decoration: none;
  color: white;
  display: inline-block;
}


.my_infos #competence {
  margin: 1rem 2rem;
  padding: 1rem;
  border: solid 1px #FF4C60;
  border-radius: 1rem 0 1rem 0;
  background-color: #FF4C60;
  text-decoration: none;
  color: white;
  display: inline-block;
}

.my_infos span {
  margin: 0 0 1rem 1rem;
  font-weight: bold;
}


.row {
  display: flex;
  margin: 0;
  padding: 0;
}



.skill_bar {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
}


.title_skill_bar {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.container {
  margin: 0 0 2rem 1rem;
  width: 100%; /* Full width */
  background-color: #ddd; /* Grey background */
  border-radius: 1rem;
}

.skills {
  text-align: right; /* Right-align text */
  padding-top: 10px; /* Add top padding */
  padding-bottom: 10px; /* Add bottom padding */
  color: white; /* White text color */
}

.html {width: 80%; 
      background-color: #04AA6D;
      border-radius: 1rem 1rem 1rem 1rem;
    } 

.css {width: 70%; 
      background-color: #2196F3;
      border-radius: 1rem 1rem 1rem 1rem;
  }

  .php {width: 40%; 
    background-color: #808080;
    border-radius: 1rem 1rem 1rem 1rem;
  }

.js {width: 15%; 
    background-color: #f44336;
    border-radius: 1rem 1rem 1rem 1rem;
  
  }



  /*POP UP /////////////////////////////////////////////////////////////////////////////////////////// */


  
  .modal {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    gap: 0.4rem;
    width: auto;
    height: auto;
    padding: 1.3rem;
    min-height: 250px;
    position: absolute;
    z-index: 2;
    top: -10rem;
    left: 10rem;
    background-color: #575757;
    border-radius: 20px;
  }
  
  .modal .flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  
  
  .btn-close {
    transform: translate(10px, -20px);
    padding: 0.5rem 0.7rem;
    background: white;
    border-radius: 50%;
    position: absolute;
    right: 1rem;
    top: 2rem;
    cursor: pointer;
    display: none;
  }
  
  .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(2rem);
    z-index: 1;
  }
  
  .hidden {
    display: none;
  }


  /* ////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

#cursus {
  margin: 0;
  padding: 0 0 0 10%;
  background-color: rgb(46 70 123);
  width: 90%;
  height: 100%;
}

#cursus_title {
  margin: 1.5rem auto;
  padding: 0;
  position: relative;
  display: flex;
  color: #FF4C60;
  justify-content: center;
  font-size: 2.5rem;
  text-decoration: underline;
}


.group_cursus {
  margin: 0 auto;
  padding: 2rem 0;
  width: 85%;
  height: 85%;
  top: 3%;
  background-color: snow;
  display: flex;
  justify-content: center;
  align-items: center;
}


.formations {
  margin: 0 0 0 2rem;
  padding: 1rem 0 0 2rem;
  width: 45%;
  height: 100%;
  border-left: solid 10px #FF4C60; 
}   


.formations h2 {
  margin: 0;
  padding: 0;
  color: #FF4C60;
  font-size: 2rem;
}


.column_formations {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}


.formation {
  margin: 0 0 4rem 0;
  padding: 1rem;
  border: solid;
  border-color: #f2f2f2;
  text-align: center;
  width: 50%;
  position: relative;
  left: 7rem;
  top: 2rem;
  background-color: #f2f2f2;
  transition: color .2s ease-in-out, background-color .1s ease-in-out, all .2s ease-in-out;
}

.formation::before {
  content: "";
    position: absolute;
    top: -4px;
    right: -4px;
    border-width: 0 30px 30px 0;
    border-style: solid;
    border-color: snow snow #FF4C60 #FF4C60;
    box-shadow: 0 0 1px #f2f2f2;
    transition: border-color 0s ease-in-out;
    display: block;
    width: 0;
}


.formation:hover {
  background-color: #FF4C60;
  color: white;
  border-color: #FF4C60;
  transform: scale(1.05);
}

.formation:hover h4 {
  color: white;
}


.formation:hover::before {
  border-color:  snow snow #f2f2f2 #f2f2f2;
  border-width: 0 30px 30px 0;
}

h4 {
  text-transform: uppercase;
  color: #FF4C60;
  transition: color .3s ease-in-out;
}



.date_formation {
  margin: 0;
  padding: 0;
  position: relative;
  top: 7rem;
  font-size: 12px;
}


.date_formation p {
  padding: 0;
  width: 15%;
  text-align: center;
}

hr {
  margin: 0;
  padding: 0;
  width: 18%;
}


.experiences {
  margin: 0 2rem 0 0;
  padding: 1rem 2rem 0 0;
  width: 45%;
  height: 100%;
  border-right: solid 10px #FF4C60;
}   


.experiences h2 {
  margin: 0;
  padding: 0;
  color: #FF4C60;
  font-size: 2rem;
  display: flex;
  justify-content: end;
}


.column_experience {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: end;
}


.experience {
  margin: 0;
  padding: 1rem;
  border: solid;
  border-color: #f2f2f2;
  text-align: center;
  width: 55%;
  position: relative;
  right: 7rem;
  background-color: #f2f2f2;
  transition: color .2s ease-in-out, background-color .1s ease-in-out,  all .2s ease-in-out;
}


.experience p {
  margin: 0 0 1.5rem 0;
  padding: 0;
}

.experience a {
  margin: 0;
  padding: 0.5rem;
  background-color: #ff9ea9;
  text-transform: uppercase;
  border-radius: 0.5rem;
}

.experience::before {
  content: "";
    position: absolute;
    top: -4px;
    right: -4px;
    border-width: 0 30px 30px 0;
    border-style: solid;
    border-color: snow snow #FF4C60 #FF4C60;
    // box-shadow: 0 0 1px rgb(0 0 0 / 10%), -1px 1px 1px rgb(0 0 0 / 10%);
    box-shadow: 0 0 1px #f2f2f2;
    transition: border-color 0s ease-in-out;
    display: block;
    width: 0;
}


.experience:hover {
  background-color: #FF4C60;
  color: white;
  border-color: #FF4C60;
  transform: scale(1.05);
}

.experience:hover h4 {
  color: white;
}




.experience:hover::before {
  border-color:  snow snow #f2f2f2 #f2f2f2;
  border-width: 0 30px 30px 0;
}



.date_experience {
  margin: 0;
  padding: 0;
  position: relative;
  top: 7rem;
  font-size: 12px;
  width: 18%;
}


.date_experience p {
  padding: 0;
  width: 100%;
  text-align: center;
}


.date_experience hr {
  margin: 0;
  padding: 0;
  width: 100%;
}



/* POP UP 2: Rapport de stage 1ère année ////////////////////////////////////////////////////////////////// */
.modal2 {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
  gap: 0.4rem;
  width: auto;
  height: auto;
  padding: 1.3rem;
  min-height: 250px;
  position: absolute;
  z-index: 2;
  top: 210%;
  right: 28%;
  background-color: #575757;
  border-radius: 20px;
}

.modal2 .flex2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}



.btn-close2 {
  transform: translate(10px, -20px);
  padding: 0.5rem 0.7rem;
  background: white;
  border-radius: 50%;
  position: absolute;
  right: 1rem;
  top: 2rem;
  cursor: pointer;
  display: none;
}

.overlay2 {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(2rem);
  z-index: 1;
}

.hidden2 {
  display: none;
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////



/* POP UP 3: Rapport de stage 2ème année ////////////////////////////////////////////////////////////////// */
.modal3 {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
  gap: 0.4rem;
  width: auto;
  height: auto;
  padding: 1.3rem;
  min-height: 250px;
  position: absolute;
  z-index: 2;
  top: 210%;
  right: 28%;
  background-color: #575757;
  border-radius: 20px;
}

.modal3 .flex3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}



.btn-close3 {
  transform: translate(10px, -20px);
  padding: 0.5rem 0.7rem;
  background: white;
  border-radius: 50%;
  position: absolute;
  right: 1rem;
  top: 2rem;
  cursor: pointer;
  display: none;
}

.overlay3 {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(2rem);
  z-index: 1;
}

.hidden3 {
  display: none;
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////





#projets {
    margin: 0;
    padding: 0 0 0 10%;
    background-color: rgb(46, 70, 123);
    width: 90%;
    height: 100%;
}

#projets_title {
  margin: 1.5rem auto;
  padding: 0;
  position: relative;
  top: 5%;
  display: flex;
  color: #FF4C60;
  justify-content: center;
  font-size: 2.5rem;
  text-decoration: underline;
}


.row_projets {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.first_projet{
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 50%;
  position: relative;
  top: 20%;
}

.first_projet h2 {
  background-color: #f8949f;
  padding: 0.75rem;
  border-radius: 2rem 2rem 0.5rem 0.5rem;
  margin: 0 0 1rem 0;
  font-size: 2rem;
}



.gsb {
  width: 100%;
  position: relative;
  text-align: center;
}

.gsb img {
  width: 70%;
  border-radius: 2rem;
  transition: all 0.2s ease-in-out;
}

.gsb img:hover {
  transform: scale(0.8);
}


#hr_projet {
  margin: 0;
  padding: 0;
  width: 0%;
  height: 50%;
  position: relative;
  top: 20%;
  border: solid 1px #FF4C60;
}


.second_projet {
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 50%;
  position: relative;
  top: 20%;
}

.second_projet h2 {
  background-color: #f8949f;
  padding: 0.75rem;
  border-radius: 2rem 2rem 0.5rem 0.5rem;
  margin: 0 0 1rem 0;
  font-size: 2rem;
}



.resto {
  width: 100%;
  position: relative;
  text-align: center;
}


.resto img {
  width: 70%;
  border-radius: 2rem;
  transition: all 0.2s ease-in-out;
}


.resto img:hover {
  transform: scale(0.8);
}

#veille {
  margin: 0;
  padding: 0 0 0 10%;
  background-color: rgb(46, 70, 123);
  width: 90%;
  height: 100%;
  text-align: center;
}

#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  display: block;
  margin-left: auto;
  margin-right: auto
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal4 {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: -2rem;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 45%;
  
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content, #caption {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

.out {
animation-name: zoom-out;
animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(1)}
  to {-webkit-transform:scale(2)}
}

@keyframes zoom {
  from {transform:scale(0.4)}
  to {transform:scale(1)}
}

@keyframes zoom-out {
  from {transform:scale(1)}
  to {transform:scale(0)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
      width: 100%;
  }
}

#veille a {
  margin: 0;
  padding: 0;
  font-size: 4rem;
  color: coral;
}


#lebts {
  margin: 0;
  padding: 0 0 0 10%;
  background-color: rgb(46, 70, 123);
  width: 90%;
  height: 100%;
}

#lebts_title {
  margin: 0 auto 4.5rem;
  padding: 0;
  position: relative;
  top: 5%;
  display: flex;
  color: #FF4C60;
  justify-content: center;
  font-size: 2.5rem;
  text-decoration: underline;
}


.inline_bts{
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 10rem 0 auto;
  padding: 0;
}

.logo_bts {
  display: flex;
}

.logo_bts img {
 rotate: 90deg;
}



.video {
  display: flex;
  flex-direction: column;
  width: 35%;
}


.video iframe {
  border-radius: 1.5rem;
   width: 100%;
}


#hr_bts {
  margin: 3rem auto;
  padding: 0;
  width: 80%;
}


.filiere {
  margin: 4rem  3rem;
  padding: 0 8rem;
  position: relative;
  width: 75%;
}

.filiere p {
  color: white;
  font-size: 1.1rem;
}

.filiere b {
  text-decoration: underline;
  color: #FF4C60;
}


#go-up {
  width: 100%;
  display: flex;
  position: fixed;
  justify-content: flex-end;
  bottom: 3%;
  right: 0%;
}

#go-up svg {
  width: 4rem;
  color: #FF4C60;
}




@media only screen and (max-width : 1024px) {
  .header {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    line-height: 1;
    z-index: 999;
    position: fixed;
}

ul {
  padding: 1rem;
  flex-direction: row;
  gap: 1rem;
}


#home {
  margin: 0 auto;
  padding: 0;
  height: 100vh;
}

h1 {
  font-size: 2.5rem;
  text-align: center;
}

#more {
  font-size: 1rem;
  width: 25%;
}

#aboutme {
  margin: 0 auto;
  padding: 0;
  height: 100vh;
}

#aboutme_title {
  margin: 2rem auto;
  font-size: 2rem;
}


.my_infos {
  padding: 2.5rem;
  height: auto;
  top: 5%;
}

.my_infos p {
  padding: 0 0 1rem 0;
}

.row {
  flex-direction: column;
}

.my_infos p {
  font-size: 1rem;
  border-bottom: solid;
  border-right: none;
}

.skill_bar {
  margin: 0 0 3rem 0;
  height: auto;
  line-height: 0.5;
}

.my_infos #cv {
  margin: 0 0 1rem 0;
  width: 100%;
  position: relative;
}

.my_infos #competence {
  margin: 0 0 1rem 0;
  width: 100%;
  position: relative;
}

.modal {
  top: 0rem;
  left: -5rem;
}

.modal embed {
  width: 520px;
  height: 700px;
}

#cursus {
  margin: 0 auto;
  padding: 0;
  height: auto;
}

#cursus_title {
  font-size: 2rem;
}

.group_cursus {
  width: 100%;
  height: auto;
  flex-direction: column;
  padding: 1rem 0;
}

.formations {
  margin: 0 0 3rem 0;
  padding: 1rem 0 0 2rem;
  width: 100%;
  height: auto;
  border: none;
}

.formation {
  margin: 0;
  left: 6rem;
  top: 0;
}

.experiences {
  margin: 0 0 2rem 0;
  padding: 0 2rem 0 0;
  width: 100%;
  height: auto;
  border: none;
}


.experience {
  margin: 0;
  right: 6rem;
  top: 0;
}

.experience a {
  font-size: 0.75rem;
}

.modal2 {
  top: 275%;
  right: 2%;
}

.modal2 embed {
  width: 520px;
  height: 700px;
}


.modal3 {
  top: 275%;
  right: 2%;
}

.modal3 embed {
  width: 520px;
  height: 700px;
}

#projets {
  margin: 0 auto;
  padding: 0;
  height: 100vh;
  text-align: center;
}

#projets_title {
  font-size: 1.75rem;
  top: 0%;
  margin: 2.5rem auto;
}

.row_projets {
  flex-direction: column;
  gap: 2rem;
  height: auto;
}

.first_projet {
  top: 0;
  width: 100%;
}

#hr_projet {
  display: none;
}

.second_projet {
  width: 100%;
}

#veille {
  margin: 0 auto;
  padding: 0;
  height: 100vh;
  text-align: center;
}

#lebts {
  margin: 0 auto;
  padding: 1rem 0;
  height: auto;
}

#lebts_title {
  font-size: 2rem;
  top: 0%;
}

.inline_bts {
  margin: 0 auto;
}

.logo_bts {
  display: none;
}

.video {
  margin: 0 auto;
  width: 80%;
}

.filiere {
  padding: 0;
}

  }